body {
    font-family: 'Righteous', cursive;
    background-color: #cccccc;

}

.title {
    font-size: 100px;
    color: #222831;
    font-style: oblique;
}

.title:hover {
    color: #cccccc;
    transition: 10s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7971EA;
    position: sticky;
    border-radius: 5px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: .2s;
}

li {
    float: left;
}

li a:hover {
    background-color: #b9b4fc;
    color: white;
    transition: .2s;
}

.conT {
    padding: 8px;
    font-size: 50px;
    color: #222831;

}

.conP {
    padding: 8px;
    font-size: 20px;
    word-wrap:normal;
    color: #393E46;
}

.img img {
    border: black;
    width: 250px;
    display: inline;
    transition: 1s;

}

.img img:hover {
    width: 1000px;
    transition: ease-in-out 10s;
}

.avrimg img {
    width: 250px;
    border-radius: 0px;
    }


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.meme {
    float: left;
    display: inline;
}